<div class="cl">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Todo List</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container">
    <h1 class="text-center mb-3">Your Todo List</h1>
    <!-- <app-add-todo></app-add-todo> -->
    <app-todos></app-todos>
  </div>
</div>
